{% extends "layout/base.html.twig" %}
{% block title %}Kategoriler{% endblock %}
{% set active = 'category' %}
{% block content %}
    {% for message in app.session.getFlashBag.get('success') %}
        <div class="alert alert-success text-center">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <div class="page-header">
        <h3>Kategoriler
            <a href="{{ path('category_add') }}" class="btn btn-md btn-primary pull-right">Kategori Ekle</a>
        </h3>
    </div>
    {% if categories is not empty %}

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Kategori Adı</th>
                    <th width="20%">İşlem</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td width="20%">
                            <a class=" btn btn-warning btn-sm" href="{{ path('category_edit', {'id': category.id}) }}"><i class="glyphicon glyphicon-edit"></i> Düzenle</a>
                            <a class=" btn btn-danger btn-sm" href="{{ path('category_delete', {'id': category.id}) }}" class="delete-btn_list"><i class="glyphicon glyphicon-trash"></i> Sil</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        <h5>Kategori bulunamadı.</h5>
    {% endif %}
{% endblock %}