{% extends "layout/base.html.twig" %}
{% block title %}Ticketlar{% endblock %}
{% set active = 'ticket' %}
{% block content %}
    <div class="page-header">
        <h3>{% if is_granted('ROLE_ADMIN') %}Ticketlar{% else %}Ticketlarım{% endif %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('ticket_add') }}" class="btn btn-primary btn-sm pull-right">Ticket Ekle</a>
            {% endif %}
        </h3>
    </div>
    {% for message in app.session.getFlashBag.get('success') %}
        <div class="alert alert-success text-center">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {% for message in app.session.getFlashBag.get('error') %}
        <div class="alert alert-danger text-center">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <form method="get" action="{{ path('ticket') }}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Başlık</label>
                            <input type="text" placeholder="Başlık" name="subject" class="form-control" value="{{ app.request.query.get('subject') }}"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kategori Seçimi</label>
                            <select name="category" class="form-control">
                                <option value="0">Kategori Seçimi</option>
                                {% for category in categories %}
                                    <option {% if category.id == app.request.query.get('category') %} selected {% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Kategori Seçimi</label>
                            <select name="priority" class="form-control">
                                <option value="0">Öncelik Seçimi</option>
                                {% for priorities in priority %}
                                    <option {% if priorities.id == app.request.query.get('priority') %} selected {% endif %} value="{{ priorities.id }}">{{ priorities.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Oluşturma Tarihi</label>
                            <input  type="text" placeholder="Oluşturma Tarihi"  id="example1" name="date" class="form-control" value="{{ app.request.query.get('date') }}">
                        </div>

                        <button type="submit" class="btn btn-success btn-sm">Filtrele</button>
                        <a href="{{ path('ticket') }}" class="btn btn-info btn-sm">Sıfırla</a>
                    </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Öncelik</th>
                        <th>Eklenme Tarihi</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                    {% if tickets is not empty %}
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>
                                {% if ticket.categories is defined %}
                                    <ul class="list-group">
                                    {% for category in ticket.categories %}
                                        <li>{{ category.category_name }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td>{{ ticket.priority_name}}</td>
                            <td>{{ ticket.create_at|date('d.m.Y H:i') }}</td>
                            <td style="font-weight: bold;">
                                    <span style="color: green;">{{ ticket.status_name }}</span>
                            <td>
                                <a class="btn btn-info btn-sm" href="{{ path('ticket_show',{'id': ticket.id}) }}" role="button">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Detayı</a>
                                {% if is_granted('ROLE_ADMIN') and ticket.status_id == 1 %}
                                    <a class="btn btn-success btn-sm" href="{{ path('ticket_solve', {'id': ticket.id}) }}" role="button" style="margin-left: 5px;">
                                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Çöz</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7">
                            <h5 class="text-center alert-danger">Ticket bulunamadı.</h5>
                        </td>
                    </tr>
                    {% endif %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}
